* {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  background-color:  #070a0a;
  transition: 1ms;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg,#042220, #12a7d4);
  height: 180px;
  width: 400px;
  color: rgb(110, 255, 255);
  /* 7px for glow  */
  text-shadow: 1px 1px 7px; 
  border-radius: 15px;
  border: 5px solid silver;
  /* for the box outer glow  */
  box-shadow: 0 0 5px 25px;
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* to spread equally  */
  padding: 1rem;
}

.clock section p {
  font-size: 4rem;
}

.clock section small {
  color: silver;
  text-shadow: none;
}